<component name="ArtifactManager">
  <artifact type="war" name="SpringHibernateTut:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringHibernateTut.war">
      <element id="artifact" artifact-name="SpringHibernateTut:war exploded" />
    </root>
  </artifact>
</component>